#form-body{
        background: linear-gradient(rgba(0, 0, 0, 0.66), rgba(29, 29, 18, 0.694)), url('/asset/image/background/register_bg.jpg') no-repeat;    
        background-size:100% 100%;
        /* height:fit-content; */
}

#register-form{
    background:linear-gradient(rgba(0, 0, 0, 0.51), rgba(29, 29, 18, 0.694)) !important;
}

#register-btn{
    background: linear-gradient(rgba(255, 0, 0, 0.273),rgba(255, 0, 60, 0.495)) !important;
}

#register-btn:hover{
    background: rgba(3, 255, 104, 0.479) !important;

    transition: all .7s ease-in-out;
}
#error-message {
    opacity: 1;
    height: auto;
    /* transition: opacity 0.7s ease, height 0.7s ease; */
    transition: all 1s ease;
}

#error-message.hidden {
    opacity: 0;
    height: 0;
}

#message {
    animation: fade 1.5s linear !important;
}


@keyframes fade {
    0% {
        opacity: 0;
        background-color: #ff0000 !important; /* Change to your desired starting color */
    }
    100% {
        opacity: 1;
        background-color: #00ff00 !important; /* Change to your desired ending color */
    }
}



